.banner{
    max-width: 426px;
    margin: auto;
    div{
        text-align: center;
    }
    .banner_text{
        font-family: Allura-Regular;
        font-size: 24px;
    }
    .banner_title{
        font-family: Montserrat-SemiBold;
        font-size: 32px;
        line-height: 150%;
        text-transform: uppercase;
    }
    .banner_button{
        font-family: Montserrat-SemiBold;
        font-size: 12px;
        margin: auto;
        display: block;
    }
}
