header{
    display: flex;
    justify-content: space-between;
}
ul{
    list-style-type: none;
    display: flex;
    
}
li{
    margin-right: 28px;
    text-transform: uppercase;
    font-family: Montserrat-SemiBold;
}